* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    text-align: center;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}
#meme__div{
    background-image: url('{src={memeImage.randomImage}');
    height: 400px;
    width: 400px;
    object-fit: cover;
 background-repeat:no-repeat;
 background-size: contain;
 background-position-x: center;
 background-position-y: center;
}

.meme--image {
    max-width: 100%;
    border-radius: 3px;
    max-height: 100%;
    
   
}
.meme__text__top{ top:3rem }
.meme__text__bottom{top:18rem}

.meme__text{
    font-size: 24px;
    font-weight: 900;
    position: relative;
    color: WHITE;
      text-shadow: 0px 0px 5px red;
    text-align: center;
}
